.offer-container{
    padding: 2em 2em;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.offer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.offer-image-options{
}

.offer-options{

}

.offer-title{
    word-break: break-all;
    color: #222;
    margin: 0;
}

.offer-info{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offer-created-by{
    font-size: 14px;
    color: #666;
}

.image{
    width: 500px; /* Fixed width */
    height: 500px; /* Fixed height */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.offer-details{
    word-break: break-all;
    min-width: 500px;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.offer-description {
    height: 500px;
    overflow: auto;
    font-size: 14px;
    color: #303030;
}

.offer-price {
    color: #222;
}

@media print {
    /* Hide non-essential elements */
    header, nav, .offer-options, footer, .offer-options {
        display: none;
    }

    /* Simplify layout for printing */
    .container, .offer-container, .offer-details, main {
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    /* Ensure content is legible */
    .offer-title, .offer-description, .offer-info {
        word-break: break-word;
        font-size: 12pt; /* Adjust the size as necessary */
        color: #000; /* Convert to black for printing */
    }

    /* Remove background colors */
    body, .offer {
        background: #fff;
    }

    .offer{
        flex-direction: column;
    }
    .image{
        margin: 0;
        padding: 0;
        width: 400px;
        height: 400px;
    }

    /* Control page breaks */
    .offer-details, .offer {
        page-break-inside: avoid;
    }

    .offer-description{
        height: fit-content;
    }

    /* Adjust the offer-info section for better legibility */
    .offer-info {
        margin-top: 0;
        font-size: 14pt; /* Adjust the size as necessary */
    }

    /* Print price in bold */
    .offer-info h2 {
        font-weight: bold;
    }
}