@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: "Roboto Light",sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: fit-content;
}

header {
    background-color: #639882;
    display: flex;
    padding: 1em;

    margin: 0 3em;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;

    min-width: inherit;
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.25);

}
main{
    flex: 1;
    display: flex;
    width: auto;
    min-width: fit-content;
    background-color: #404040;
    margin: 1em 3em;
    padding: 2rem;
    justify-content: center;

    border-radius: 0.3em;

    box-shadow: 0 0 8px 2px rgba(0,0,0,0.3);
}
footer {
    background-color: #D8D8D8;
    margin: 0 3em;
    padding: 1em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;

    box-shadow: 0 0 8px 2px rgba(0,0,0,0.3);
}

#registration_container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 2rem;
    width: 20%;
    max-width: 400px;
    min-width: 160px;
    height: fit-content;
    border-radius: 0.625rem;
    background: #F5F5F5;

    box-shadow: 0 0 8px 2px rgba(0,0,0,0.3);
}
#registration_form{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

label[for="agreement_checkbox"]{
    display: inline;
    font-size: 0.7em;
}

#agreement_checkbox{
    align-self: flex-start;

    color: #639882;
    accent-color: #639882;
}
label{
    display: flex;
    font-size: 0.7em;
    vertical-align: middle;
}

.error {
    color: red;
    font-size: 12px;
}

.small-text-link{
    color: #333333;
    font-size: 9pt;
}

a:link, a:visited{
    color: #36554c;
}

input{
    border: 1px solid #333333;
    width: inherit;
    border-radius: 5px;
    padding: 4px;

}


button{
    background-color: #639882;
    color: #F5F5F5;
    padding: 4px 10px;
    border-style: hidden;
    border-radius: 5px;
    margin: 10px 0 0 0;
    width: inherit;
    font-size: 11pt;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

#submit_registration_button{
    align-self: center;
}

#logo:link {
    color: #F5F5F5;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
}
#logo:visited {
    color: #F5F5F5;
    text-align: center;
    font-size: 3em;
    text-decoration: none;}
#logo:hover {
    color: #F5F5F5;
    text-align: center;
    font-size: 3em;
    text-decoration: none;}
#logo:active {
    color: #F5F5F5;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
}