@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}

body {
    font-family: "Roboto Light",sans-serif;

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    max-width: 1010px;
    align-self: center;
    background-color: #639882;
    display: flex;
    padding: 1em;
}

header nav{
    display: flex;

}
main{
    flex: 1;
    display: flex;
    background-color: #404040;
    margin: 0 2em;
    padding: 3em;
    justify-content: center;
}
footer {
    background-color: #D8D8D8;
    margin: 0 2em;
    padding: 1em;
}

#registration_login_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}


input{
    border-color: #333333;
    border-radius: 5px;

}


button{
    background-color: #639882;
    color: #F5F5F5;
    padding: 2px 10px;
    border-style: hidden;
    border-radius: 5px;
}

#submit_registration_button{
    align-self: center;
}

a:link {
    color: #F5F5F5;
    text-align: center;
    text-decoration: none;
}
a:visited {
    color: #F5F5F5;
    text-align: center;
    text-decoration: none;}
a:hover {
    color: #F5F5F5;
    text-align: center;
    text-decoration: none;}
a:active {
    color: #F5F5F5;
    text-align: center;
    text-decoration: none;
}